lab[javafx,RMI,XML,JAXB,JDBC]/src/main/java/utils/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Trains">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="train" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:short" name="numb"/>
                            <xs:element type="xs:string" name="destination"/>
                            <xs:element type="xs:time" name="departureTime"/>
                            <xs:element type="xs:time" name="arrivalTime"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>